<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type='text/javascript' src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script>
        function download(abspath, filename) {
            $.post({
                url:"download",
                data:{
                    // csrfmiddlewaretoken:{{ csrf_token }}, //必须写在模板中，才会被渲染
                    'abspath': abspath,
                    'filename' : filename
                }
            })
        }
    </script>
</head>
<body>
    {% for files in filecontentlist %}
        {{ files.filedir}} <br/>

        {% for filecontent in files.filecontents %}
            {% comment %}<a href="javascript:download('{{ files.abspath }}', '{{ files.name }}')">{{ fileshowname }}<a/> <br/>{% endcomment %}
            <a href="download?abspath={{ filecontent.abspath }}&filename={{ filecontent.name }} ">{{ filecontent.fileshowname }}<a/> <br/>
        {% endfor %}
         <br/>
    {% endfor %}
</body>
</html>